<!DOCTYPE html>
<html lang ="ja">
<head>
    <meta charset= "UTF-8">
    <title><%= title %></title>
    <link rel= 'stylesheet' href='/stylesheets/userhome.css'>
</head>
<body>
    <header>
        <div class= "app-name">To Do App</div>
    </header>
    <main>
        <div class= "todo-list">
            <div class= "left-container">
                <nav>
                    <ul>
                        <li><button type= "button" onclick= "location.href= './todosearch.ejs'">To Do Search</button></li>
                        <li><button type= "button" onclick= "location.href= './tododelete.ejs'">To Do Delete</button></li>
                    </ul>
                </nav>
                <div class= "calender">
                    <input type= "date">
                </div>
            </div>
            <div class= "right-cotainer">
                <div class= "todo-area">
                    <h2>To Do Create</h2>
                    <form action= "/todocreate" method= "post">
                    <p>予定日付</p>
                    <p>予定時間</p>
                    <p>やること<br>
                        <input type= "text" name= "todo">
                    </p>
                    <p>カテゴリー<br>
                        <input type= "radio" name= "category" value= "1">仕事
                        <input type= "radio" name= "category" value= "2">日常
                        <input type= "radio" name= "category" value= "3">遊び
                        <input type= "radio" name= "category" value= "4">趣味
                        <input type= "radio" name= "category" value= "5">習い事
                    </p>
                    <input type="submit" name= "create-add" value= "Add!">

                    </form>
                </div>
                <form action= "/alltodo" method= "post" class= "button-list">
                    <button type= "button" onclick= "location.href= './tommorow-todo.ejs'">Tommorow's To Do</button>
                    <button type= "button" onclick= "location.href= './thisweek-todo.ejs'">This Week's To Do</button>
                    <button type= "button" onclick= "location.href= './thismonth-todo.ejs'">This Month's To Do</button><br>
                    <button type= "button" onclick= "location.href= './logout.ejs'" class= "logout" >Logout</button> 
                </form>   
            </div>
        </div>
    </main>
    <footer>
        <div class= "footer">©xxYumixyxx</div>
    </footer>
</body>
</html>
