<!DOCTYPE html>
<html lang ="ja">
<head>
    <meta charset= "UTF-8">
    <title><%= title %></title>
    <link rel= 'stylesheet' href='/stylesheets/userhome.css'>
</head>
<body>
    <header>
        <div class= "app-name">To Do App</div>
    </header>
    <main>
        <div class= "todo-list">
            <div class= "left-container">
                <nav>
                    <ul>

                        <!--ルーティングで、レンダリングしないと動的ファイルはブラウザ上で表示できない-->
                        <button type= "button" onclick= "location.href= '/check'">To Do Create</button>
                        <li><button type= "button" onclick= "location.href= 'todosearch.ejsを表示'">To Do Search</button></li>
                        <li><button type= "button" onclick= "location.href= './tododelete.ejsを表示'">To Do Delete</button></li>
                    </ul>
                </nav>
                <div class= "calender">
                    <input type= "date">
                </div>
            </div>
            <div class= "right-cotainer">
                <div class= "todo-area">
                    <h2>Today's To Do..</h2>
                    <p>9:00  ～  10:00 ------やること------  □</p><br>
                    <p>9:00  ～  10:00 ------やること------  □</p><br>
                    <p>9:00  ～  10:00 ------やること------  □</p><br>
                    <p>9:00  ～  10:00 ------やること------  □</p><br>
                    <p>9:00  ～  10:00 ------やること------  □</p><br>
                    <p>9:00  ～  10:00 ------やること------  □</p><br>
                    <input type= "submit" name= "check-add" value= "Add!">
                </div>
                <form action= "/alltodo" method= "post" class= "button-list">
                    <button type= "button" onclick= "location.href= './tommorow-todo.ejs'">Tommorow's To Do</button>
                    <button type= "button" onclick= "location.href= './thisweek-todo.ejs'">This Week's To Do</button>
                    <button type= "button" onclick= "location.href= './thismonth-todo.ejs'">This Month's To Do</button><br>
                    <button type= "button" onclick= "location.href= './logout.ejs'" class= "logout" >Logout</button> 
                </form>   
            </div>
        </div>
    </main>
    <footer>
        <div class= "footer">©xxYumixyxx</div>
    </footer>
</body>
</html>
