<!DOCTYPE html>
<html lang ="ja">
<head>
    <meta charset= "UTF-8">
    <title><%= title %></title>
    <link rel= 'stylesheet' href='/stylesheets/userlogin.css'>
</head>
<body>
    <header>
        <div class= "app-name">To Do App</div>
    </header>
    <main>
        <div class= "todo-list">
            <h2>User Create!</h2>
            <p>passport.jsが使えたらコーディングしていきます。</p>
        </div>
    </main>
    <footer>
        <div class= "footer">©xxYumixyxx</div>
    </footer>
</body>
</html>
